<a href="https://colab.research.google.com/github/jdasam/mas1004/blob/2024/live_coding/1_jupyter_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Jupyter Tutorial
- Jupyter has two type of cells
  - markdown: to write down some text
  - code cell: to run the code
- you can write text in markdown grammar

### Different heading
- You can make *italic* or **bold** font


# Difference with Jupyter Notebook and Colab?
- Jupyter notebook is interactive environment for Python and R
- Colab is Jupyter + Google Cloud
  - You can mount your google drive into Colab
  - It provides some computing resource from google cloud

### Run Code
- It saves variable in its memory
- The cells does not have to be run in its place order
  - You can run cells in arbitrary order
- To run the code, you can press the play button on the left side of the cell
  - or control + enter
  - or shift + enter: this automatically proceeds to next cell
- If you define some variable, it will be recorded in the namespace
- You can reset namespace by rebooting the notebook.

In [8]:
a = 1

In [9]:
b = 3

In [10]:
a - b

-2

In [1]:
# % sign means special command for jupyter notebook
# This command is not for python, but its for jupyter
%whos
# This print current variables

Interactive namespace is empty.

In [15]:
a + c

8

In [14]:
c = 7

In [12]:
a = 1
print(a + c)
c = 3

NameError: name 'c' is not defined

In [20]:
my_func(a, c)

8

In [17]:
# you can define the function, and it will be on notebook status
def my_func(a, b):
  return a + b

In [23]:
# If you update variable, it will also recorded in the namespace
print(a)
a += 3
print(a)

7
10

In [2]:
whos = 'jeong'

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
whos       str     jeong

### Install Library or make Terminal Command
- Colab has many default-installed libraries
  - numpy, pandas, torch, tensorflow, matplotlib

In [5]:
import numpy as np

- You can install libraries with terminal command
  - Terminal is for interacting with operating system (with only keyboard)
  - To install libraries, you have to install it on OS, not on Python.

- To make command to your OS as in terminal, you can use ! mark

In [8]:
# list the files of current directory
!ls

my_new_empty_directory	sample_data

In [7]:
# make new empty directory
!mkdir my_new_empty_directory

In [10]:
# install library with pip
# pip is a package that helps to install python libraries
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (2.1.1)

### Change Directory

In [21]:
# we can print present working directory
!pwd

/content/my_new_empty_directory

In [16]:
!cd my_new_empty_directory
# It does not work, because jupyter notebook is in different environment

In [20]:
# cd means change directory
# You have to use jupyter function % to change directory of your jupyter environment
%cd /content/my_new_empty_directory

/content/my_new_empty_directory

### List comprehension
- With list comprehension, you can make the code shorter, and (usually) more readable

In [25]:
input_list = [3, 6, 7]
# desired_output = [6, 12, 14]

def double_the_list(alist: list):
  # in alist: list, : means type hint.
  # hint is not mandatory, its optional
  blist = [elem * 2 for elem in alist]
  # blist = []
  # for elem in alist:
  #   doubled_elem = elem * 2
  #   blist.append(doubled_elem)
  #   # blist.append(elem * 2)
  return blist

output = double_the_list(input_list)
# output == [6, 12, 14]
output

[6, 12, 14]

In [32]:
alist = list(range(100))
# let's assume that we want only numbers that are not divided by 2 or 3

def filter_list_by_division(alist):
  blist = []
  for item in alist:
    if item % 2 == 0: # item can be divided by two:
      continue
    elif item % 3 == 0:
      continue
    blist.append(item) # this line would be executed only when we didn't continue in previous lines
  return blist

filter_list_by_division(alist) # as this is not the final executed line, it won't be automatically printed
print(filter_list_by_division(alist))
# filter_list_by_division(alist) # Jupyter notebook automatically do pretty print for the last executed line

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49, 53, 55, 59, 61, 65, 67, 71, 73, 77, 79, 83, 85, 89, 91, 95, 97]

In [40]:
print(alist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [34]:
def filter_list_by_division(alist):
  return [item for item in alist if item % 2 != 0 and item % 3 !=0]
[item for item in alist if item % 2 != 0 and item % 3 !=0]

[1,
 5,
 7,
 11,
 13,
 17,
 19,
 23,
 25,
 29,
 31,
 35,
 37,
 41,
 43,
 47,
 49,
 53,
 55,
 59,
 61,
 65,
 67,
 71,
 73,
 77,
 79,
 83,
 85,
 89,
 91,
 95,
 97]

In [38]:
# We can do nested for loop
sauce_list = ['tomato', 'basil pesto', 'ragu']
pasta_list = ['spaghetti', 'penne', 'linguine', 'fusili']

# make every possible combiniation between two
every_comb = []
for sauce in sauce_list:
  for pasta in pasta_list:
    # print(sauce + ' ' + pasta)
    every_comb.append(sauce + ' ' + pasta)
# every_comb

# implement it with list comprehension
every_comb = [sauce + ' ' + pasta for sauce in sauce_list for pasta in pasta_list]
every_comb

['tomato spaghetti',
 'tomato penne',
 'tomato linguine',
 'tomato fusili',
 'basil pesto spaghetti',
 'basil pesto penne',
 'basil pesto linguine',
 'basil pesto fusili',
 'ragu spaghetti',
 'ragu penne',
 'ragu linguine',
 'ragu fusili']

$s_i = s_{i-1} + s_{i-2}$

In [39]:
# There is something that you cannot implement with list comprehension
# fibonacci sequence
# 1, 1, 2, 3, 5, 8, 13, 21, 34,
# s_i = s_{i-1} + s_{i+2}

# make next 100 numbers in fibonacci sequence.
seq = [1, 1]
# easy way: directly update the `seq'
for i in range(100):
  penultimate_num = seq[-2]
  last_num = seq[-1]
  seq.append(penultimate_num + last_num)
print(seq)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074, 32951280099, 53316291173, 86267571272, 139583862445, 225851433717, 365435296162, 591286729879, 956722026041, 1548008755920, 2504730781961, 4052739537881, 6557470319842, 10610209857723, 17167680177565, 27777890035288, 44945570212853, 72723460248141, 117669030460994, 190392490709135, 308061521170129, 498454011879264, 806515533049393, 1304969544928657, 2111485077978050, 3416454622906707, 5527939700884757, 8944394323791464, 14472334024676221, 23416728348467685, 37889062373143906, 61305790721611591, 99194853094755497, 160500643816367088, 259695496911122585, 420196140727489673, 679891637638612258, 1100087778366101931, 1779979416004714189, 2880067194370816120, 4660046610375530309, 7540113804746346429, 12200160415121876738, 19740274219868223167, 31940434634990099905, 51680708854858323072, 83621143489848422977, 135301852344706746049, 218922995834555169026, 354224848179261915075, 573147844013817084101, 927372692193078999176]